{% extends 'base.html.twig' %}

{% block title %}Porfolio index{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" type="text/css" media="screen" href="{{ asset('css/main.css') }}">
{% endblock %}

{% block body %}
    <section class="section-admin">
    <div class="container container-admin">
        <div class="row">
            <div class="card-admin">
                <h2>Porfolio index</h2>

                <table class="table">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Titre</th>
                        <th>Ville</th>
                        <th>Superficie</th>
                        <th>Description</th>
                        <th>Image</th>
                        <th>Iframe</th>
                        <th>Agence</th>
                        <th>Lien</th>
                        <th>actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for porfolio in portfolios %}
                        <tr>
                            <td>{{ porfolio.id }}</td>
                            <td>{{ porfolio.titre }}</td>
                            <td>{{ porfolio.ville }}</td>
                            <td>{{ porfolio.superficie }}</td>
                            <td>{{ porfolio.description }}</td>
                            <td>{{ porfolio.image }}</td>
                            <td>{{ porfolio.iframe }}</td>
                            <td>{{ porfolio.agence }}</td>
                            <td>{{ porfolio.link }}</td>
                            <td>
                                <a class="btn btn-primary" href="{{ path('app_porfolio_show', {'id': porfolio.id}) }}">Voir</a>
                                <a class="btn btn-success" href="{{ path('app_porfolio_edit', {'id': porfolio.id}) }}">Editer</a>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="7">Pas de résultat</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <a class="btn btn-success" href="{{ path('app_porfolio_new') }}">Créer nouveau</a>
            </div>
        </div>
    </div>
    </section>
{% endblock %}
