<!DOCTYPE html>
<html lang="pt-PT">
    <head>
        <meta charset="UTF-8">

        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="robots" content="index,follow">
        <meta name="description" content="{% block meta_description %}{% endblock %}">
        <meta property="og:type" content="website" />
        <title>{% block title %}Scan 3d{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            <link rel="canonical" href="/" />
        <link href="{{ asset('https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css') }}" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
        {% endblock %}

        {% block javascripts %}
            <script defer src="{{ asset('https://kit.fontawesome.com/eda674f759.js') }}" crossorigin="anonymous"></script>
            <script defer src="{{ asset('https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js') }}" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
            <script defer src="{{ asset('js/cookiechoices.js') }}"></script><script>document.addEventListener('DOMContentLoaded', function(event){cookieChoices.showCookieConsentBar('Este site utiliza cookies para lhe oferecer o melhor serviço. Ao continuar sua navegação, você aceita o uso de cookies.', 'Aceito', 'Saber mais', '{{ asset('privacidade') }}');});</script>
        {% endblock %}
    </head>
    <body>
    {% block header %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">Navbar</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="navbarColor03">
                    <ul class="navbar-nav me-auto align-items-center">
                        <li class="nav-item">
                            <a class="nav-link active" href="/">Home
                                <span class="visually-hidden">(current)</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ asset('#saber') }}">Visitas virtuais</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ asset('#demonstracao') }}">Demonstração</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ asset('#servicos') }}">Serviços</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ asset('portfolio-visita-virtual') }}">Portfolio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ asset('preco-visita-virtual') }}">Preços</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="tel:0788102112"><input type="button" class="button-nav btn" value="Réserva"></a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    {% endblock %}
        {% block body %}

        {% endblock %}
    </body>
{% block footer %}
    <!-- Footer -->
    <footer class="bg-dark  text-white">
        <!-- Grid container -->
        <div class="container p-4">
            <!-- Section: Social media -->
            <section class="mb-4">
                <!-- Facebook -->
                <a class="H4-couleur btn btn-outline-light btn-floating m-1" href="#!" role="button"
                ><i class="fab fa-facebook-f"></i
                    ></a>

                <!-- Instagram -->
                <a class="H4-couleur btn btn-outline-light btn-floating m-1" href="#!" role="button"
                ><i class="fab fa-instagram"></i
                    ></a>

                <!-- Linkedin -->
                <a class="H4-couleur btn btn-outline-light btn-floating m-1" href="#!" role="button"
                ><i class="fab fa-whatsapp"></i
                    ></a>

            </section>
            <!-- Section: Social media -->


            <!-- Section: Links -->
            <section class="">
                <!--Grid row-->
                <div class="row">
                    <!--Grid column-->
                    <div class="col-sm-6">
                        <h5 class="H4-couleur text-uppercase">Sobre</h5>
                        <p>Usamos a tecnologia Matterport para escaneamento interno e criação de tours virtuais imersivos. Nossas habilidades técnicas nos permitirão oferecer um serviço de qualidade dentro dos limites do seu orçamento.</p>
                        <img src="{{ asset('images/logo-matterport.png') }}" alt="">
                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col">
                        <h5 class="H4-couleur text-uppercase">Visita virtual</h5>

                        <ul class="list-unstyled mb-0">
                            <li>
                                <a href="{{ asset('preco-visita-virtual') }}" class="text-decoration-none text-white">Visita virtual Braga</a>
                            </li>
                            <li>
                                <a href="{{ asset('preco-visita-virtual') }}" class="text-decoration-none text-white">Visita virtual Vila Verde</a>
                            </li>
                            <li>
                                <a href="{{ asset('preco-visita-virtual') }}" class="text-decoration-none text-white">Visita virtual Porto</a>
                            </li>
                            <li>
                                <a href="{{ asset('preco-visita-virtual') }}" class="text-decoration-none text-white">Visita virtual Guimaraes </a>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->


                    <!--Grid column-->
                    <div class="col">
                        <h5 class="H4-couleur text-uppercase">Contacto</h5>

                        <ul class="list-unstyled mb-0">
                            <li>
                                <p>34 rua de monte - 4720-167 Bico Amares</p>
                            </li>
                            <li>
                                <a href="tel:0788102112" class="text-decoration-none text-white">Tel: 07 88 10 21 12</a>
                            </li>
                            <li>
                                <a href="#" class="text-decoration-none text-white">contact@scan3D.com</a>
                            </li>
                        </ul>
                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
            </section>
            <!-- Section: Links -->
        </div>
        <!-- Grid container -->

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            © 2022 Copyright: Scan 3D /
            <a class="text-decoration-none text-white" href="{{ asset('privacidade') }}">Política de Privacidade</a>
            / <a class="text-decoration-none text-white"  href="{{ asset('noticia-legal') }}">Noticia legal</a>

        </div>
        <!-- Copyright -->
    </footer>
    <!-- Footer -->
{% endblock %}

</html>
