{% block body %}
<H1>Nouveau message !</H1>
    <ul>
        <li>Nom: {{ emailNom }}</li>
        <li>Téléphone: {{ emailTel }}</li>
        <li>Email: {{ emailEmail }}</li>
        <li>Message: {{ emailMessage }}</li>
        <li>Rgpd: {{ emailRgpd }}</li>
    </ul>

{% endblock %}